{{> adminHeader title=title buttonBackRef=buttonBackRef}}
<main class="flex flex-col gap-4 justify-center w-full h-max relative">
    <form
        action="/api/card-themes"
        id="formContainer"
        class="w-11/12 h-max mt-16 p-4 flex flex-col gap-4 rounded-xl"
    >
        <input type="hidden" id="themeId" name="themeId" value="{{themeData._id}}"/>
        <div class="form-row flex flex-col gap-1 w-full">
            <label for="themeName">Theme Name</label>
            <input type="text" id="themeName" value="{{themeData.themeName}}" name="themeName"/>
        </div>
        <div class="form-row flex flex-col gap-1 w-full">
            <label for="cardFront">Theme Front</label>
            <input type="file" id="cardFront" name="cardFront"/>
        </div>
        <div class="form-row flex flex-col gap-1 w-full">
            <label for="cardBack">Theme Back</label>
            <input type="file" id="cardBack" name="cardBack"/>
        </div>
        <div class="form-row flex flex-row items-center justify-start">
            <div class="w-1/2 form-row flex flex-row items-center justify-start">
                <input type="checkbox" name="isVip" id="isVip" {{#if themeData.isVip}} checked {{/if}}>
                <label for="isVip">Is Vip Item?</label>
            </div>
            <div class="w-1/2 form-row">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="{{themeData.price}}" {{#unless themeData.isVip}} disabled {{/unless}}>
            </div>
        </div>
        <div class="form-row">
            <input id="submitButton" type="submit" value="Submit" class="text-2xl bg-primary text-white px-8 py-2 rounded-full w-full"/>
        </div>
    </form>
    <div class="w-full grid grid-cols-2">
        <div class="flex flex-col gap-2 justify-center items-center">
            <p class="text-xl">Current Front Face</p>
            <img class="max-h-[200px]" src="/images/themepacks/{{themeData.cardFront}}" alt="{{themeData.themeName}} front face"/>
        </div>

        <div class="flex flex-col gap-2 justify-center items-center">
            <p class="text-xl">Current Back Face</p>
            <img class="max-h-[200px]" src="/images/themepacks/{{themeData.cardBack}}" alt="{{themeData.themeName}} back face"/>
        </div>
    </div>
</main>